/* You can add global styles to this file, and also import other style files */
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

body {
	/* color: #fff; */
	/* background: #3598dc !important; */
	font-family: 'Roboto', sans-serif;
}
