<div class="container">
  <form #postForm="ngForm" (submit)="onSubmit()">
    <div class="form-group">
      <label for="exampleInputEmail1">Title</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        placeholder="Enter post title"
        name="title"
        [(ngModel)]="post.title"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Content</label>
      <quill-editor
        [styles]="{ height: '350px' }"
        name="content"
        [(ngModel)]="post.content"
        
      ></quill-editor>
    </div>
    <div class="form-check">
      <input
        type="checkbox"
        class="form-check-input"
        id="exampleCheck1"
        name="isVisible"
        [(ngModel)]="post.isVisible"
      />
      <label class="form-check-label" for="exampleCheck1"
        >Visible the post?</label
      >
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
